.container{
	height: 100%;
	overflow-x: hidden;
}
.item{
	background: transparent !important;
	color: inherit !important;
	box-shadow: none !important;
	flex-wrap: wrap;
	padding: 0.1em 0.2em!important;
}
.item:hover{
	background-color:transparent !important;
}
.button{
	width: 100%;
	padding: 0.1em  0.2em !important;
	
}


.accordion {

}
.icon{

}
.accordion .body .icon:first-child{
    justify-content: center !important;
}
.accordion .body .icon:first-child>svg{
    font-size: 0.8em !important;
}


.text{

}


.body{
	width: 100%;
	padding: 0 !important;
}