
.toast{
	font-size: 0.8em !important;
	pointer-events: auto;
	--current-color: #fff;
	--current-bg: var(--bell);
	/*border:0.1em solid var(--current-color)!important;*/
	background-color: var(--current-bg) !important;
	color: var(--current-color) !important;
	transition: opacity calc((var(--time-run) / 1000) * 1s) !important;
}
.hidden{
	opacity: 0;
}
.show{
	animation-name: show-toast;
	animation-duration: calc((var(--time-run) / 1000) * 1s);
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-fill-mode: both;
}
@keyframes show-toast{
	0%{
		transform: translateX(-100%);
	}
	100%{
		transform: translateX(0%);
	}
}

.title:after{
	content: "";
	display: block;
	width: 100%;
	height: 0.2em;
	background-color: var(--current-color) !important;
	border-radius: 1em;
	animation-name: time_out;
	animation-duration: calc(((var(--time-out)-var(--time-clear)) / 1000) * 1s);
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-fill-mode: both;
}
@keyframes  time_out{
	0% { width: 100%; }
	100% { width: 0%; }
}

.icon{
	fill: var(--current-color) !important;
}
.bell{
	--current-bg: var(--bell);
}
.help{
	--current-bg: var(--help);
}
.success{
	--current-bg: var(--success);
}
.info{
	--current-bg: var(--info);
}
.warning{
	--current-bg: var(--warning);
}
.error{
	--current-bg: var(--error);
}