.option{
	display: inline-block;
    vertical-align: middle;
    position: relative;
    min-width: 5em;
    max-width: fit-content;
}
.button{
	display: inline-flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 0.2em;
    color: #999 !important;
    background-color: transparent !important;
}
.button:hover{
	color: #000;
}
.icon{
	font-size: 1.5em !important;
    width: 1em !important;
    height: 1em !important;
	margin-bottom: 0.2em;
}

.text{
	overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    display: block;
    width: 100%;
    font-size: 0.8em !important;
}