.toasts{
	position: fixed;
	z-index: 999999;
	bottom: 1em;
	top: 1em;
	left: 1em;
	padding-right: 0.5em;
	width: 25em;
	max-width: 100%;
	overflow-x: hidden;
	pointer-events: none;
}
.content{
	pointer-events: none;
	min-height: 100%;
}