.dots{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.dotButton{
	cursor: pointer;
}

.dot:not(.dotActive):hover{
	border-color: var(--infoBg) !important;
}
.dotActive{
	border-color: var(--info) !important;
}