


.images{

}
.item{
	cursor: grab !important;
    padding: 0 2em !important;
}

.dots{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5;
}

.dotButton{
	border-width: 0 !important;
    border-color: var(--info) !important;
	transition: border 0.5s;
	cursor: pointer;
}

.dotButton:not(.dotActive):hover{
	border-width: 2px !important;
}
.dotActive{
	border-width: 2px !important;
}

.arrow{
	position: absolute !important;
	top: 50%;
	color: var(--dark) !important;
	transform: translateY(-50%);
	z-index: 5;
}
.left{
	left: 0;
}
.right{
	right: 0;
}